# All files and directories are ignored
*

# EXCEPT for the ones listed after the "!" below

!.gitignore

!template_files
!template_files/*

!template_shared_files
!template_shared_files/*

!start.py
